# Git
.git
.gitignore
.gitattributes

# Dependencies
node_modules/

# Build output
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Runtime
*.log
*.tmp

# Dev files
*.timestamp*
tsconfig.tsbuildinfo
